@font-face {
  font-family: 'ShabnamElegant';
  src: url('/fonts/ShabnamElegant.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AdvercaseFontDemoRegular';
  src: url('/fonts/AdvercaseFontDemoRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('/fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

